:root {
  --saffron: #eac435;
  --yinminBlue: #345995;
  --razzmatazz: #e40066;
  --mint: #03cea4;
  --tomato: #fb4d3d;

  --gunmetal: #293241;
  --burntSienna: #EE6C4D;
  --yinminBlue2: #3D5A80;
  

}
